<div class='jumbotron'>
<h1>About Us</h1>
<h2>Where did the idea come from?</h2>
<p>We are working on our one month rail app</p>

<h2>Meet Our Team</h2>
<p>Team member 1</p>
<p>Team member 2</p>


</div>